@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: Rubik, 'Public Sans', sans-serif;

  --color-neutral-50: oklch(98.51% 0 0);
  --color-neutral-100: oklch(96.74% 0.0013 286.38);
  --color-neutral-200: oklch(90.45% 0.004 286.32);
  --color-neutral-300: oklch(84.02% 0.0055 286.28);
  --color-neutral-400: oklch(74.02% 0.01 286.15);
  --color-neutral-500: oklch(54.48% 0.0139 285.93);
  --color-neutral-600: oklch(49.89% 0.0126 285.93);
  --color-neutral-700: oklch(42.65% 0.0115 285.9);
  --color-neutral-800: oklch(35.42% 0.0086 285.95);
  --color-neutral-900: oklch(27.39% 0.0055 286.03);
  --color-neutral: oklch(35.42% 0.0086 285.95);

  --color-primary-50: oklch(0.97 0.0172 44.81);
  --color-primary-100: oklch(0.93 0.0399 47.46);
  --color-primary-200: oklch(0.87 0.0773 47.81);
  --color-primary-300: oklch(0.81 0.1202 47.58);
  --color-primary-400: oklch(0.75 0.1579 45.5);
  --color-primary-500: oklch(0.71 0.1946 42.84);
  --color-primary-600: oklch(0.64 0.204154 38.8971);
  --color-primary-700: oklch(0.51 0.1599 39.95);
  --color-primary-800: oklch(0.39 0.118 41.38);
  --color-primary-900: oklch(0.24 0.0668 47.11);
  --color-primary: oklch(0.64 0.204154 38.8971);

  --color-danger: oklch(59.48% 0.2262 18.37);
  --color-danger-50: oklch(94.92% 0.0238 1.34);
  --color-danger-100:oklch(89.99% 0.0459 4.54) ;
  --color-danger-200: oklch(80.41% 0.0964 6.36);
  --color-danger-300: oklch(71.54% 0.1503 8.09);
  --color-danger-400: oklch(64.34% 0.1969 12.3);
  --color-danger-500: oklch(59.48% 0.2262 18.37);
  --color-danger-600: oklch(50.46% 0.1903 17.83);
  --color-danger-700: oklch(41.03% 0.1525 16.96);
  --color-danger-800: oklch(31.11% 0.111 16.4);
}

.tiptap {

  @apply p-4 rounded-md ring ring-inset ring-accented focus:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-primary;

  & :first-child {
    margin-top: 0;
  }

 /* List styles */
  & ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    & li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  & ul {
  list-style-type: disc;
  }

  /* Heading styles */
  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  & h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  & h1 {
    font-size: 1.4rem;
  }

  & h2 {
    font-size: 1.2rem;
  }

  & h3 {
    font-size: 1.1rem;
  }

  & h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  & code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  & pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  & blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  & hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }
}

